@font: Arial;

body#home {
  font: 10px @font;
  font-weight: bold;

  @pad: 10px;
  margin: @pad;

  .nestedRule {
    padding: @pad;

    h1 {
  font-size: 30px;


  h1 {
  font-size: 30px;

  h1 {
  font-size: 30px;
}

}

    }



  }

}

h1 {
  font-size: 30px;
}
